#contact-form {
    margin: 2rem 0 2rem 1rem;
}

#contact-form .input-section {
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin-bottom: 1rem;
}

#contact-form label {
    display: block;
    width: 7em;
}

#contact-form input {
    font-family: var(--regular-font);
    font-weight: 300;
    display: block;
}

#contact-form textarea {
    font-family: var(--regular-font);
    font-weight: 300;
    width: 100%;
}

#contact-form .content-section label {
    margin-bottom: .4rem;
}

#contact-form .content-section textarea {
    margin-bottom: 1rem;
}

#contact-form sup {
    color: var(--accent-color);
    font-family: var(--narrow-font);
}

#contact-form input[type=submit], #contact-form input[type=reset], .booksy-btn {
    display: inline;
    margin-right: 1rem;

    font-family: var(--narrow-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--container-color);
    background-color: var(--secondary-color);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .4rem;
    width: 6em;
    transition: .1s ease-in;
}

#contact-form input[type=submit]:hover, #contact-form input[type=reset]:hover, .booksy-btn:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#contact-form input[type=submit] {
    background-color: var(--primary-color);
}

.booksy-btn {
    background-color: var(--primary-color);
    padding: .4rem 1.5rem;
    cursor: pointer;
}

.contact-details li {
    margin-bottom: .7rem;
    margin-left: .4rem;
}

.contact-details a:hover {
    color: var(--secondary-color)
}

.rodo-clause {
    font-size: .8rem;
}

.rodo-clause > a {
    color: var(--accent-color);
    text-decoration: underline;
}

.rodo-clause > a:hover {
    color: var(--secondary-color)
}

@media (min-width: 768px) {
    #contact-form textarea {
        width: 60%;
    }
}