.facebook-posts {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.facebook-post {
    display: block;
    flex-basis: 100%;

    margin: 0 .5rem 1rem .5rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    transition: transform 0.1s ease-in;
}

.facebook-post:hover {
    transform: scale(1.03);
}

.facebook-post > .facebook-date {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.facebook-post object {
    display: block;
    margin: 1rem auto;
    max-width: 60%;
    width: 60%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.facebook-post > p {
    font-size: 0.9rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
    .facebook-posts {
        display: flex;
    }
}