dialog {
    display: block;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 2rem;
    box-sizing: content-box;
    transition: all .2s ease-in;
}

:modal {
    transition: all .2s ease-in;
    opacity: 100%;
    z-index: 100;
}

section.modal {
    background-color: var(--container-color);
    padding: 1rem 2rem 2rem 2rem;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

dialog a#modal-close {
    border: none;
    font-size: 2rem;
    color: var(--accent-color);
    background-color: var(--container-color);
    outline: none;
}

dialog a#modal-close:hover {
    border: none;
    font-size: 2rem;
    color: var(--accent-color);
    background-color: var(--background-color);
    outline: none;
}

dialog button.close:hover {
    border: none;
    font-size: 2rem;
    color: var(--accent-color);
    background-color: var(--background-color);
    outline: none;
}

dialog nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    section.modal {
        padding: 2rem 3rem 3rem 3rem;
    }
}
