.nav {
    font-family: var(--narrow-font);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
}

.nav-item {
    display: block;
    transition: background-color .1s ease-out;
    flex-grow: 1;
    position: relative;

    z-index: 2;
}

.nav-item:hover {
    background-color: var(--secondary-color);
}

.nav-item > a {
    color: var(--background-color);
    padding: 1rem;
    display: block;
}

.nav-item .iconify {
    max-height: 0.8em;
}

.nav-submenu {
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: left;
    font-size: 1rem;

    max-height: 0;
    visibility: hidden;
    overflow: hidden;
}

.nav-item:hover > .nav-submenu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height 300ms ease-in;
}

.nav-submenu > li {
    padding: 0.8rem;

    transition: 100ms ease-in;
}

.nav-submenu > li:hover {
    background-color: var(--secondary-color);
    color: var(--container-color);
}

.nav-menu {
    min-height: 3rem;
    overflow-y: hidden;
}

.nav-switch {
    height: 3rem;
    width: 3rem;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
}

.nav-switch-icon {
    position: absolute;
    right: 0;

    color: var(--background-color);
    border: 1px solid var(--background-color);
    padding: 0.3rem;
    margin: 0.5rem;
    z-index: 2;

    transition: 100ms ease-in;
}

.nav-switch:hover ~ .nav-switch-icon {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.nav-items {
    visibility: hidden;
    max-height: 0;

    transition: 0.2s ease-in;
}
.nav-switch:checked ~ .nav-items {
    visibility: visible;
    max-height: 1000px;
}

.nav-social:hover {
    background-color: var(--primary-color);
}

.nav-social > a {
    display: inline-block;
    transition: 100ms ease-in;
}

.nav-social > a:hover {
    color: var(--accent-color);
}

@media (min-width: 1250px) {
    .nav-items {
        visibility: visible;
        max-height: 1000px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        text-align: center;
    }

    .nav-item {
        transform: skew(-15deg);
        display: flex;
        align-items: center;
    }

    .nav-item > * {
        transform: skew(15deg);
    }

    .nav-submenu {
        position: absolute;
        min-width: 300px;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    .nav-item:hover > .nav-submenu  {
        max-height: 1000px;
        top: 100%;
    }

    .nav-switch {
        display: none;
    }

    .nav-switch-icon {
        display: none;
    }

    .nav-menu {
        overflow-y: visible;
    }

    .nav-social {
        display: none;
    }
}