:root {
    --text-color: #000500;
    --accent-color: #354952;
    --primary-color: #509b86;
    --secondary-color: #8e8671;
    --background-color: #e8e9f3;
    --container-color: #ffffff;

    --decorative-font: 'Playfair Display', serif;
    --regular-font: 'Work Sans', sans-serif;
    --narrow-font: 'Oswald', sans-serif;
}

html {
    font-size: 110%;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-family: var(--regular-font);
    font-weight: 300;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    height: 100vh;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: var(--primary-color);
}

h1, h2 {
    font-family: var(--narrow-font);
    font-weight: 700;
    color: var(--accent-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.7em;
}

h3 {
    font-family: var(--narrow-font);
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 0.7em;
}

p {
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.2em;

    word-wrap: break-word;
    overflow-wrap: break-word;

    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

blockquote {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 500;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.content {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem;
}

.container.content.content-bottom {
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 2rem;
}

.container p a, .container > ul a, .link {
    color: var(--accent-color);
    text-decoration: underline;
}

.container p a:hover, .container > ul a:hover, .link:hover {
    color: var(--secondary-color);
}

.heading {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading > a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading > a > img {
    max-height: 4rem;
    margin-right: 1rem;
}

.heading-title h1 {
    margin-bottom: .7rem;
}

.heading-title h3 {
    margin-bottom: 0;
}

.heading-social {
    display: none;
    color: var(--accent-color);
    font-size: 2rem;
    align-items: center;
}

.heading-social a {
    margin: 0 .5rem;
    transition: transform .2s;
}

.heading-social a:hover {
    margin: 0 .5rem;
    color: var(--primary-color);
    transform: scale(1.1);
}

.iconify {
    font-size: 1em;
}

.img-left-big {
    position: relative;
    float: left;
    max-width: 30%;
    left: -4rem;
    padding: 2rem 0 2rem 2rem;
    background-color: var(--container-color);
}

.img-right {
    position: relative;
    float: right;
    max-width: 30%;
    max-height: 250px;
    right: -60px;
    padding: 20px 20px 20px 0;
    background-color: var(--container-color);
}

.img-right-big {
    position: relative;
    float: right;
    max-width: 30%;
    right: -60px;
    padding: 20px 20px 20px 0;
    background-color: var(--container-color);
}

.jumbo {
    position: relative;
    width: 100%;
    max-height: 450px;

    display: flex;
    overflow: hidden;
    align-items: center;

    z-index: 1;
}

.jumbo-small {
    max-height: 200px;
}

.jumbo > img {
    position: relative;
    display: block;
    width: 100%;
    transition: transform .7s;
}

.jumbo:hover > img {
    transform: scale(1.1);
}

.jumbo > .jumbo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.jumbo-content h3 {
    font-size: 1.5rem;
    margin-left: 0;
    text-transform: uppercase;
    color: var(--background-color);
    text-shadow: var(--text-color) 0 0 3px;
    -webkit-font-smoothing: antialiased;
}

.jumbo-button {
    display: inline-block;
    background: var(--background-color);
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px,
    rgba(0, 0, 0, 0.22) 0 10px 10px;

    transition: transform .2s;
}

.jumbo-button:hover {
    transform: translateY(-3px);
}

.ideas {
    margin-bottom: 1rem;
    padding: 0.4rem;
}

.ideas .iconify {
    display: inline-block;
    color: var(--primary-color);
}

.ideas > li {
    font-size: 1.1rem;
    margin: 1rem;
}

.steps {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.step {
    display: flex;
    flex-basis: 100%;

    margin: 0 .5rem 1rem .5rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    transition: transform 0.1s ease-in;
}

.step:hover {
    transform: scale(1.03);
}

.step > p {
    font-size: 0.9rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

ul.list {
    list-style: '\2012\00a0' inside;
}

ul.list > li {
    padding: .3rem 1rem;
}

.italic {
    font-style: italic;
}

img.img-centered {
    margin: 1rem auto;
    max-width: 70%;
    min-width: 30%;
}

footer .footer-contact {
    height: 0;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
    padding: 0 .6rem;
}

footer.visible .footer-contact {
    opacity: 100%;
    height: unset
}

footer .footer-contact > p {
    margin-top: 2rem;
}

footer > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    color: var(--container-color);

    padding: 1rem;
}

.footer-contact li {
    font-size: 0.9em;
    margin: 0.4rem
}

.footer-contact a {
    transition: .1s ease-in;
}

.footer-contact a:hover {
    color: var(--accent-color)
}

.footer-contact > p:nth-of-type(2) {
    margin-top: 1.4rem;
}

#top-button {
    display: none;
}

.subsection {
    margin-top: 3rem;
}

.privacy-administrator {
    margin-bottom: 1rem;
}

.privacy-administrator a {
    color: var(--accent-color);
    text-decoration: underline;
}

.privacy-administrator a:hover {
    color: var(--secondary-color);
}

.privacy-administrator-name {
    margin-bottom: .2rem;
}

.privacy-administrator-data {
    margin-bottom: .2rem;
}

figure.quote {
    margin: 2rem .2rem;
}

figure.quote>blockquote {
    border-left: 4px solid var(--primary-color);
    padding: 0 1rem;

    font-size: 1.1rem;
    font-style: italic;

    text-align: justify;
}

figure.quote>figcaption::before {
    content: '\2012\00a0';
}

figure.quote>figcaption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .8rem;
    text-align: right;
    color: var(--secondary-color);
}

figure.quote>figcaption>img {
    border-radius: 50%;
    max-height: 3rem;
    margin-left: 1rem;
}

figure.bababook {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figure.bababook>img {
    display: block;
    max-width: 66%;
    transition: transform .3s;
    margin-bottom: 2rem;
}

figure.bababook>img:hover {
    transform: scale(1.1);
}


figure.certyfikaty {
    display: grid;
}

figure.certyfikaty-v {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

figure.certyfikaty-h {
    grid-template-columns: 1fr 1fr 1fr;
}

figure.certyfikaty>img {
    display: block;
    padding: 10%;
    transition: transform .3s;
    margin-bottom: 2rem;
}

figure.certyfikaty>img:hover {
    transform: scale(1.1);
}

span.fakeicon {
    margin-left: 1.4rem;
}

.donthyphenate {
    hyphens: none;
}

@media (min-width: 512px) {
    .jumbo-content h3 {
        font-size: 2rem;
    }

    .jumbo-button {
        border-radius: 3px;
        font-size: 1rem;
        padding: 0.8rem;
    }

    footer > .container {
        display: flex;
    }

    footer .footer-contact > p {
        margin-top: 0;
    }

    figure.quote {
        margin: 2rem;
    }

    figure.quote>blockquote {
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    figure.quote>figcaption {
        font-size: 1rem;
    }

    figure.quote>figcaption>img {
        max-height: 4rem;
    }

}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .container {
        width: 760px;
    }

    .jumbo-content h3 {
        font-size: 3rem;
    }

    .jumbo-button {
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 1rem;
    }

    figure.certyfikaty-v {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    figure.certyfikaty-h {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 992px) {
    .jumbo > img.img-lower {
        top: 8vw;
    }

    .heading-social {
        display: flex;
    }

    .container {
        width: 980px;
    }

    #top-button {
        display: block;
        opacity: 0;
        position: fixed;
        bottom: 60px;
        right: 30px;
        z-index: -10;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 7px 12px;
        border-radius: 50%;
        font-size: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        color: var(--container-color);
        background-color: var(--secondary-color);
        transition: .1s ease-in;
    }

    #top-button.visible {
        z-index: 99;
        opacity: 100%;
    }

    #top-button:hover {
        background-color: var(--accent-color);
    }

    .steps {
        display: flex;
    }

    figure.bababook {
        flex-direction: row;
    }

    figure.bababook>img {
        max-width: 25%;
    }
}

@media (min-width: 1192px) {
    .container {
        width: 1192px;
    }
}