<footer>
    <div class="container">
        <section class="footer-contact">
            <p>&copy; 2024 Iwona Nikelska</p>
        </section>
        <section class="footer-contact">
            <p>Kontakt:</p>
            <ul>
                <li><a href="mailto:iwonanikelska@gmail.com"><span class="iconify" data-icon="akar-icons:envelope"></span>&nbsp;iwonanikelska@gmail.com</a></li>
                <li><a href="tel:+48605045195"><span class="iconify" data-icon="akar-icons:phone"></span>&nbsp;605-045-195</a></li>
                <li><a href="{{ var.facebookUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:facebook-fill"></span>&nbsp;Iwona Nikelska Terapeuta Uzależnień, Recovery Coach </a></li>
                <li><a href="{{ var.instagramUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:instagram-fill"></span>&nbsp;iwona_nikelska</a></li>
            </ul>
        </section>
    </div>
</footer>