<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="panprogramista.dev">
    <meta name="keywords" content="iwona nikelska, nikelska, psychodietetyk, psychodietetyka, tsr, terapia skoncentrowana na rozwiązaniach, dietetyka, dieta, coaching, coach, gdynia">
    <meta name="description" content="Iwona Nikelska - Terapeuta Uzależnień, Recovery Coach">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap&family=Oswald:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
    {% endfor %}

    <link rel="shortcut icon" href="/media/logo-gabinet-iwona.png" type="image/png">

    <title>{{ title }}</title>
    <script src="/js/Hyphenopoly_Loader.js"></script>
    <script>
        Hyphenopoly.config({
            require: {
                "pl": "Konstantynopolitańczykiewiczówna",
            },
            setup: {
                selectors: {
                    "p": {}, "blockquote": {}
                },
                dontHyphenateClass: "donthyphenate"
            }
        });
    </script>
</head>