<header>
    <section class="heading container">
        <a href="/">
            <img src="/media/logo-gabinet-iwona.png" alt="logo"/>
            <div class="heading-title">
                <h1>Iwona Nikelska</h1>
                <h3>Terapeuta Uzależnień, Recovery Coach</h3>
            </div>
        </a>
        <div class="heading-social">
            <a href="{{ var.facebookUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
            <a href="{{ var.instagramUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a>
        </div>
    </section>
    <nav class="nav">
        <div class="nav-menu">
            <input class="nav-switch" type="checkbox">
            <a class="nav-switch-icon" href="#"><span class="iconify" data-icon="cil:hamburger-menu"></span></a>

            <ul class="nav-items container">
                <li class="nav-item"><a href="/o-mnie">O&nbsp;mnie</a></li>
                <li class="nav-item"><a href="/uzaleznienia">Terapia uzależnień</a></li>
                <li class="nav-item"><a href="/coaching">Recovery coaching</a></li>
                <li class="nav-item"><a href="/tsr">TSR - Terapia Skoncentrowana na Rozwiązaniach</a></li>
                <li class="nav-item"><a href="/psychodietetyka">Konsultacje Psychodietetyczne</a></li>
                <li class="nav-item"><a href="/referencje">Referencje</a></li>
                <li class="nav-item"><a href="/cennik">Cennik</a></li>
                <li class="nav-item"><a href="/kontakt">Kontakt</a></li>
                <li class="nav-item nav-social">
                    <a href="{{ var.facebookUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
                    <a href="{{ var.instagramUrl }}" target="_blank"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>