<!doctype html>
<html lang="pl">
{% include 'head.njk' %}
<body>

{%  include 'nav.njk' %}

<main>
    {{ content | safe }}
</main>

{%  include 'footer.njk' %}

<button onclick="goToTop()" id="top-button" title="Go to top"><span class="iconify" data-icon="ant-design:caret-up-filled"></span></button>

<script src="/js/script.js"></script>
{% for script in scripts %}
    <script src="/js/{{ script }}.js"></script>
{% endfor %}
<script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>

</body>
</html>