---
layout: page.njk
title: "Iwona Nikelska :: Cennik"
---
<section class="container content">

    <h2>Cennik</h2>

    <h3>Recovery coaching</h3>

    <p>Pierwsza konsultacja – 60 minut: <strong>200&nbsp;zł</strong></p>
    <p>Sesja Coachingowa z elementami TSR – 90 minut (kolejna wizyta): <strong>250&nbsp;zł</strong></p>
    <p>Pakiet sesji coachingowych po 90 minut (płatne z góry): <strong>2200&nbsp;zł</strong> (zyskujesz 300&nbsp;zł)</p>
    <p>Wizyty on-line (messenger, whatsapp) płatne z góry dzień przed wizytą.</p>
    <p>Brak płatności oznacza rezygnację z wizyty.</p>

    <h3 class="subsection">Terapia uzależnień i współuzależnień</h3>

    <p>Konsultacje indywidualne / konsultacje on-line: <strong>200&nbsp;zł</strong></p>
    <p>Terapia indywidualna/ terapia on-line: <strong>200&nbsp;zł</strong></p>
    <p>Wizyty on-line (messenger, whatsapp) płatne z góry dzień przed wizytą.</p>
    <p>Brak płatności oznacza rezygnację z wizyty.</p>

    <h3 class="subsection">Psychodietetyka</h3>

    <p>Pierwsza konsultacja – 60-90 minut: <strong>200&nbsp;zł</strong></p>
    <p>Kolejna konsultacja – 60 minut: <strong>170&nbsp;zł</strong></p>
    <p>Konsultacja rodzinna – 90 minut: <strong>300&nbsp;zł</strong></p>
    <p>Pakiet 10 Konsultacji Psychodietetycznych po 60 minut (płatne z góry): <strong>1500&nbsp;zł</strong> (zyskujesz 200&nbsp;zł)</p>
    <p>Pakiet 10 Konsultacji Psychodietetycznych RODZINNYCH po 60 minut (płatne z góry): <strong>2700&nbsp;zł</strong> (zyskujesz 300&nbsp;zł)</p>
    <p>Wizyty on-line (messenger, whatsapp) płatne z góry dzień przed wizytą.</p>
    <p>Brak płatności oznacza rezygnację z wizyty.</p>

</section>

<section class="jumbo">
    <img src="/media/cost-1.jpg" class="cover-img" alt="coaching">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>

<section class="container content content-bottom">
</section>