---
layout: page.njk
title: "Iwona Nikelska :: Coaching indywidualny"
---

<section class="container content">

    <h2>Recovery coaching</h2>

    <p>Recovery coaching — coaching dla osób wychodzących z uzależnienia — jest jedną z najefektywniejszych metod
        towarzyszących terapii odwykowej, znany i stosowany w najlepszych ośrodkach terapeutycznych na całym świecie.</p>

    <p>Recovery coaching to wsparcie i pomoc drugiej osobie w odnalezieniu motywacji do rozwoju i zmian, które,
        poza samą abstynencją i odejściem od uzależnienia, nadają życiu nowy sens. Zastosowanie coachingu nie zastąpi
        samej terapii uzależnień jednak stanowi jego bardzo ważne uzupełnienie. Stanowi początek do podjęcia dalszej
        drogi leczenia lub jego zakończenie. Ma za zadanie pomóc klientowi w poszukiwaniu nowej ścieżki do
        trzeźwego życia. Ma za zadanie inicjować, wspomagać, a przede wszystkim kontynuować proces leczenia
        uzależnienia, a mogą one dotyczyć każdego człowieka bez względu na wiek, płeć, wyznanie czy status społeczny.</p>

    <p>Jest adresowany do osób uzależnionych od takich substancji jak alkohol, narkotyki, dopalacze, leki
        czy też uzależnionych od hazardu, pracy, seksu. Ma on też zastosowanie do każdego innego rodzaju uzależnienia.
        Jest to wsparcie, które można stosować na każdym etapie procesu zdrowienia. W przeciwieństwie do tradycyjnej
        terapii, nie skupia się na przeszłości czy analizie problemów, ale na budowaniu strategii do osiągania
        wyznaczonych wcześniej celów. To właśnie poprzez odkrywanie życiowych celów, określanie życiowych wartości
        i planowanie konkretnych działań można odnaleźć sens i odzyskać kontrolę nad własnym życiem.</p>

    <p>Korzystanie z recovery coachingu pozwala też uniknąć powrotu do czynnego uzależnienia i wejść w nowy etap
        swojego życia wolny od nałogu. Ważne jest to, że w tej metodzie nie odwołujemy się i nie zagłębiamy w traumy
        z przeszłości, które nawiązują do uzależnienia, nie stawiamy analiz, nie oceniamy. Wspólna praca coacha
        i klienta polega na skupieniu się na tu i teraz oraz na tworzeniu perspektyw na przyszłość. Dzięki
        takiemu podejściu, klient zyskuje większą pewność siebie i świadomość własnej wartości, co stanowi
        kluczowy czynnik w dążeniu do trwałych zmian.</p>

    <p>Jeśli czujesz, że mówię do Ciebie, jeśli potrzebujesz pomocy i co najważniejsze, jesteś gotowy na zmianę
        na lepsze, zapraszam Cię na spotkanie do mojego Gabinetu w Gdyni. Adres znajdziesz
        <a href="/kontakt#my-address">tutaj</a>. Pracuję również on-line.</p>

    <p>Razem poszukamy drogi do osiągnięcia pozytywnych zmian w Twoim życiu.</p>
</section>

<section class="jumbo">
    <img src="/media/coaching.jpg" class="cover-img" alt="coaching">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>

<section class="container content content-bottom">
</section>