---
layout: page.njk
title: "Iwona Nikelska :: Wysłano wiadomość"
---

<section class="container content">
    <h2>Wysłano wiadomość</h2>

    <p>Dziękuję za kontakt. Odpowiem najszybciej jak to możliwe.</p>
</section>

<section class="jumbo jumbo-small">
    <img src="/media/network-big-1.jpg" class="cover-img">
    <div class="jumbo-content">
        <a href="/" class="jumbo-button">Powrót</a>
    </div>
</section>

<section class="container content content-bottom">
</section>