---
layout: page.njk
title: "Iwona Nikelska :: Ile trwa sesja?"
---

<section class="container content">
    <h2 id="ile-trwa-sesja">Ile twa sesja?</h2>
    <p>Pierwsza wizyta trwa <strong>od 60 do 90 minut</strong>. Koszt 170 zł.</p>
    <p>Każda kolejna za <strong>60 minut</strong> 150 zł.</p>
</section>

<section class="jumbo">
    <img src="/media/meeting-7.jpg" class="cover-img">
</section>

<section class="container content content-bottom">
</section>