---
layout: page.njk
title: "Iwona Nikelska"
stylesheets:
  - facebook
scripts:
  - facebook
---

<section class="jumbo">
    <img src="/media/hero-bg.jpg" class="cover-img" alt="hero">
</section>

<section class="container content content-bottom">
    <h2>Po więcej ciekawych informacji zapraszam na mój profil facebookowy</h2>

    <p class='loading'><span class="iconify" data-icon="eos-icons:arrow-rotate"></span> Pobieram wpisy...</p>
    <section class="facebook-posts">
        <a class="facebook-post hidden" target="_blank"></a>
        <a class="facebook-post hidden" target="_blank"></a>
    </section>

</section>
