---
layout: page.njk
title: "Iwona Nikelska :: Formularz kontaktowy"
stylesheets:
- contact
scripts:
- contact
---

<section class="container content content-bottom">

    <img src="/media/contact-big-1.jpg" class="desktop-only img-right-big"/>

    <h2>Kontakt</h2>

    <p>Jeśli masz pytania lub chcesz się umówić na wizytę – napisz do mnie lub zadzwoń pod numer <a href="tel:+48605045195">605-045-195</a>.</p>
    <p>Możesz również ze mną porozmawiać online za pomocą messengera lub whatsapp. Jeśli nie odbieram to oznacza, że właśnie prowadzę konsultacje. Oddzwonię do Ciebie jak tylko skończę.</p>

    <p>Obecnie konsultacje prowadzę wyłącznie online. </p>
    <p>Możesz umówić się również za pomocą formularza kontaktowego:</p>

    <form id="contact-form" action="/service/in-contact.php" method="post">
        <section class="input-section">
            <label for="name">Imię<sup class="required">*</sup></label>
            <input type="text" maxlength="255" id="name" name="name" placeholder="Twoje imię" required="required">
        </section>

        <section class="input-section">
            <label for="email">E-mail<sup class="required">*</sup></label>
            <input type="email" maxlength="255" id="email" name="email" placeholder="E-mail" required="required">
        </section>

        <section class="input-section">
            <label for="phone">Telefon</label>
            <input type="tel" maxlength="17" id="phone" name="phone" placeholder="Nr telefonu">
        </section>

        <section class="content-section">
            <label for="content">Treść</label>
            <textarea id="content" name="content" placeholder="Wpisz wiadomość..." required="required" rows="5"></textarea>
        </section>

        <input type="submit" value="Wyślij">
        <input type="reset" value="Wyczyść">
        <span class="rodo-clause">Wysyłając wiadomość akceptujesz <a href="/polityka-prywatnosci">politykę prywatności</a>.</span>
    </form>

    <p>lub napisać na <a class="donthyphenate" href="mailto:iwonanikelska@gmail.com">iwonanikelska@gmail.com</a></p>

    <h3 class="subsection">Dane kontaktowe</h3>

    <section class="contact-details">
        <ul>
            <li><a href="mailto:iwonanikelska@gmail.com"><span class="iconify" data-icon="akar-icons:envelope"></span>&nbsp;iwonanikelska@gmail.com</a></li>
            <li><a href="tel:+48605045195"><span class="iconify" data-icon="akar-icons:phone"></span>&nbsp;605-045-195</a></li>
        </ul>
    </section>

    <h3 class="subsection">Poznaj Siebie</h3>

    <p>Jeżeli potrzebujesz terapii rozszerzonej dla siebie lub kogoś bliskiego, to zapraszam Cię do zapoznania się z ofertą
        ośrodka <a class="link" href="https://osrodekpoznajsiebie.pl/" target="_blank">Poznaj&nbsp;Siebie</a>, który obecnie prowadzę.</p>

    <section class="contact-details" id="my-address">
    <ul>
        <li><a href="https://osrodekpoznajsiebie.pl/" target="_blank"><span class="iconify" data-icon="akar-icons:globe"></span>&nbsp;Odwiedź stronę internetową</a></li>
        <li><a href="mailto:kontakt@osrodekpoznajsiebie.pl"><span class="iconify" data-icon="akar-icons:envelope"></span>&nbsp;kontakt@osrodekpoznajsiebie.pl</a></li>
        <li><a href="tel:+48734727377"><span class="iconify" data-icon="akar-icons:phone"></span>&nbsp;734-727-377</a></li>
        <a href="{{ var.mapsUrl }}" target="_blank">
            <li><span class="iconify" data-icon="ph:map-pin"></span>&nbsp;84-207 Koleczkowo</li>
            <li><span class="fakeicon"></span>gmina Szemud, ul. Wysoka 3</li>
        </a>
    </ul>
    </section>

</section>
