---
layout: page.njk
title: "Iwona Nikelska :: O mnie"
stylesheets:
- modal
scripts:
- modal
---

<dialog id="modal-dialog" class="open">
    <section class="modal">
        <nav>
            <a href="#" id="modal-close"><span class="iconify" data-icon="ic:baseline-close"></span></a>
        </nav>
        <img id="modal-img" alt="image"/>
    </section>
</dialog>

<section class="container content">

    <img src="/media/me-1.jpg" class="desktop-only img-right" alt="ja">

    <h2>O mnie</h2>

    <p>Witam Cię serdecznie na mojej stronie.</p>

    <p>Jeżeli tu jesteś, to prawdopodobnie szukasz pomocy dla siebie lub kogoś bliskiego.</p>

    <p>Wszystko co robię zawodowo sprowadza się do pomocy innym, ale głównie osobom uzależnionym od substancji
        psychoaktywnych czy od uzależnień behawioralnych. Pomagam również w zaburzeniach odżywiania, problemach
        w związku, problemach w pracy czy w budowaniu pewności siebie.</p>

    <p>Całe moje życie mam do czynienia z problemami alkoholowymi i właśnie to mnie skłoniło, aby swoją
        wiedzę i doświadczenie wykorzystać w praktyce. Jestem dzieckiem alkoholików, więc doskonale wiem,
        ile wysiłku wymaga praca z uzależnieniem oraz jakie problemy dotykają pacjentów i ich rodzin.</p>

    <p>Ukończyłam własną terapię DDA, która pozwoliła mi przejąć świadomą kontrolę nad własnym życiem i wzmocnić
        moje zdrowie psychiczne. Ukończyłam wiele szkół i szkoleń, ale moją działalność opieram na wiedzy praktycznej,
        którą dało mi samo życie. Swoje trudne doświadczenia życiowe pragnę wykorzystać w mojej pracy, by nie tylko
        pomagać osobom uzależnionym, ale także ich rodzinom, bo to one stanowią największe wsparcie w drodze do
        trzeźwego życia. Chcę pokazać, że życie w trzeźwości, choć trudne, to jest możliwe.</p>

    <p>Z wykształcenia jestem psychologiem biznesu, coachem, terapeutą uzależnień i współuzależnienia oraz
        psychodietetykiem. Pracuję w nurcie TSR - Terapii Skoncentrowanej na Rozwiązaniach.</p>

    <p>Przez wiele lat swoją wiedzę wykorzystywałam w pracy w dużej, międzynarodowej korporacji. Przeszłam wszystkie
        szczeble kariery zaczynając od sekretarki, poprzez stanowiska doradcze, do managera średniego szczebla.
        Na salach szkoleniowych spędziłam setki godzin.</p>

    <p>Ponad 20-letnia praca w takim środowisku zaowocowała u mnie nadbagażem w postaci zbędnych kilogramów, stanami
        lękowymi i wypaleniem zawodowym. Dlatego, po wielu latach walki o zdrowie rzuciłam etat, a swoje doświadczenie
        wykorzystuję do pracy w swoim gabinecie. Stwierdziłam, że zajmę się tym, co mnie fascynowało i fascynuje do
        dziś – czyli pomaganiem innym. Praca z ludźmi zawsze była dla mnie szczególnie ważna, a do człowieka i jego
        problemów podchodzę z dużym szacunkiem. Pracuję z pasją, wykorzystując swoją wiedzę i osobiste przeżycia.
        Z autopsji wiem, ile pracy i zaangażowania kosztuje proces zmiany, dlatego będę dumna, jeśli będę mogła być
        jego częścią.</p>

    <p>Jeśli czujesz, że mówię do Ciebie, jeśli potrzebujesz pomocy i co najważniejsze, jesteś gotowa/y na zmianę
        na lepsze, to zapraszam Cię na konsultacje on-line. Umówić możesz się <a href="/kontakt">tutaj</a>.</p>

    <p>Razem poszukamy drogi do osiągnięcia pozytywnych zmian w Twoim życiu.</p>

    <h3 class="subsection">Dowiedz się więcej</h3>

    <ul class="ideas">
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            O Terapii Uzależnień i Współuzależnionych poczytaj <a href="/uzaleznienia">tutaj</a>.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            O Recovery Coachingu poczytaj <a href="/coaching">tutaj</a>.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            O TSR poczytaj <a href="/tsr">tutaj</a>.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            O Psychodietetyce poczytaj <a href="/psychodietetyka">tutaj</a>.</li>
    </ul>

    <img src="/media/me-1.jpg" class="mobile-only img-centered" alt="ja">
</section>

<section class="jumbo">
    <img src="/media/meeting-3.jpg" class="cover-img">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>

<section class="container content content-bottom">
</section>