---
layout: page.njk
title: "Iwona Nikelska :: Polityka Prywatności"
---

<section class="container content content-bottom">

    <h2>Polityka Prywatności</h2>

    <p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez
        Użytkowników w związku z korzystaniem z Naszego Serwisu.</p>

    <p>Administratorem danych osobowych zawartych w serwisie jest:</p>

    <div class="privacy-administrator">
        <div class="privacy-administrator-name">Gabinet Terapii i Rozwoju Osobistego</div>
        <div class="privacy-administrator-data">email: <a href="mailto:iwonanikelska@gmail.com" target="_blank">iwonanikelska@gmail.com</a></div>
        <div class="privacy-administrator-data">tel.: <a href="tel:+48605045195" target="_blank">+48 605 045 195</a></div>
        <div class="privacy-administrator-data">NIP: PL 958-074-43-82</div>
    </div>

    <p>W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają
        zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich
        zgodność z
        odpowiednimi aktami prawnymi – ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą
        elektroniczną, a
        także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.
    </p>
    <p>Dane Osobowe przetwarzane są na podstawie zgody wyrażonej przez Użytkownika oraz w przypadkach, w których
        przepisy
        prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa lub w celu
        realizacji zawartej pomiędzy stronami Umowy.
    </p>
    <p>Użytkownik, którego dane dotyczą ma prawo dostępu do danych, sprostowania, usunięcia lub ograniczenia
        przetwarzania, prawo sprzeciwu, prawo wniesienia skargi do organu nadzorczego.
    </p>
    <p>Kontakt z osobą nadzorującą przetwarzanie danych osobowych w organizacji Usługodawcy jest możliwy drogą
        elektroniczną pod adresem e-mail: <a href="mailto:iwonanikelska@gmail.com" target="_blank">iwonanikelska@gmail.com</a> lub
        telefonicznie <a href="tel:+48605045195" target="_blank">605 045 195</a>.
    </p>
    <p>Administrator zastrzega sobie prawo do przetwarzania danych Użytkownika po rozwiązaniu Umowy lub cofnięciu zgody
        tylko w zakresie na potrzeby dochodzenia ewentualnych roszczeń przed sądem lub jeżeli przepisy krajowe, unijne
        bądź
        prawa międzynarodowego obligują Administratora do retencji danych.
    </p>
    <p>Administrator nie udostępniania danych osobowych innym podmiotom aniżeli upoważnionym na podstawie właściwych
        przepisów prawa.
    </p>
    <p> Administrator ma prawo udostępniać dane osobowe Użytkownika oraz innych jego danych podmiotom upoważnionym na
        podstawie właściwych przepisów prawa (np. organom ścigania).
    </p>
    <p>Usunięcie danych osobowych może nastąpić na skutek cofnięcia zgody bądź wniesienia prawnie dopuszczalnego
        sprzeciwu
        na przetwarzanie danych osobowych
    </p>

</section>