---
layout: page.njk
title: "Iwona Nikelska :: Konsultacje psychodietetyczne"
---

<section class="container content">

    <h2>Konsultacje psychodietetyczne</h2>

    <p>
        Jako psychodietetyk dbam o każdą sferę życia klienta - ciało, umysł i emocje. Moje podejście jest
        holistyczne - całościowe. Ważne jest, nie tylko to, jak się odżywiasz, ale w jakim środowisku żyjesz, pracujesz,
        spędzasz czas. Omawiamy wspólnie stan zdrowia, przyjmowane
        leki/suplementy, choroby czy przypadłości. Pracujemy wspólnie w oparciu o wartości, przekonania i cele.
        Szukamy przyczyn i zrozumienia tego, co się aktualnie u Ciebie dzieje. Skupiamy się na tu i teraz. Nie
        rozpamiętujemy przeszłości i nie wybiegamy za daleko w przyszłość. To podejście sprawdzone i bardzo skuteczne.
        Będę Cię wspierała na każdym etapie zmiany, wykorzystując wiedzę oraz własne doświadczenia. Wspólnie poszukamy
        najlepszej dla Ciebie drogi oraz rozwiązań.
    </p>
    <p>
        Główna zasada - nie układam żadnych diet, które należy stosować z kartką. Jednak, w ramach konsultacji
        dietetycznych, podpowiem jak odżywiać się zgodnie z Twoim zapotrzebowaniem i stanem zdrowia. Nie będzie nakazów
        i rozliczania z kalorii. Uczę, rozmawiam i daję wskazówki oraz propozycje dań. Chodzi o to, byś była samodzielna
        i poradziła sobie w każdej sytuacji - w domu, w pracy, na urlopie, weselu czy bankiecie. Zależy mi, byś
        poczuła się lepiej i była zdrowsza, a nagrodą za Twoją pracę będą utracone kilogramy.
    </p>

    <p>
        Pomagam kobietom, które:
    </p>

    <ul class="list">
        <li>borykają się z zaburzeniami odżywiania</li>
        <li>stosowały już wiele diet, ale przynosiły one krótkotrwały efekt</li>
        <li>zajadają emocje, problemy, stres</li>
        <li>mają problemy z asertywnością czy dbaniem o własne potrzeby</li>
        <li>chcą zmienić swoje nawyki oraz poprawić zdrowie i samopoczucie</li>
        <li>chcą pokonać kompulsywne objadanie</li>
        <li>chcą schudnąć zdrowo i trwale bez niepotrzebnego stresu oraz zbędnych wyrzeczeń</li>
    </ul>

    <p></p>

    <p>Chcę, abyś uwolniła się od ciągłego myślenia o jedzeniu, odzyskała pewność siebie oraz była zdrowa i
        szczęśliwa.</p>

    <p>Po rozpoczęciu współpracy otrzymasz unikatowy dziennik odżywiania i aktywności fizycznej. W środku znajdują się
        m.in.: karty celów krótko- i długoterminowych, podsumowanie każdego tygodnia, ćwiczenia motywujące i tabele
        pomiarowe.</p>

    <figure class="bababook">
        <img src="/media/bababook1.jpg" alt="bababook"/>
        <img src="/media/bababook2.jpg" alt="bababook"/>
        <img src="/media/bababook3.jpg" alt="bababook"/>
    </figure>
</section>

<section class="jumbo">
    <img src="/media/contact-2.jpg" class="cover-img">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>


<section class="container content content-bottom"></section>