---
layout: page.njk
title: "Iwona Nikelska :: Cennik"
---
<section class="container content">

    <h2>Referencje</h2>

    <h3>Opinie moich klientek</h3>

    {%- for testimonial in testimonials -%}
        <section class="testimonials">
            <figure class="quote">
                <blockquote>
                    {{ testimonial.content }}
                </blockquote>
                <figcaption>{{ testimonial.name}} <img src="/media/{{ testimonial.avatar }}" alt="avatar"/></figcaption>
            </figure>
        </section>
    {%- endfor -%}
</section>

<section class="jumbo">
    <img src="/media/happy-1.jpg" class="cover-img">
</section>

<section class="container content content-bottom">
</section>