---
layout: page.njk
title: "Iwona Nikelska :: TSR - Terapia Skoncentrowana na Rozwiązaniach"
---

<section class="container content">
    <h2>TSR - Terapia Skoncentrowana na Rozwiązaniach</h2>

    <p>Celem Terapii Skoncentrowanej na Rozwiązaniach jest poszukiwanie najbardziej optymalnego rozwiązania dla
        sytuacji, w której się znalazłaś.</p>

    <p>Zamiast tworzenia teorii na temat: "jak być powinno" i "dlaczego tak nie jest", TSR zajmuje się tym, "co się
        sprawdza" i "co pomaga" oraz szuka sposobów rozszerzania działań na inne płaszczyzny i momenty życia.</p>

    <p>Podejście Skoncentrowane na Rozwiązaniach sprawdza się w wielu obszarach życia - w życiu rodzinnym, życiu
        zawodowym, szeroko pojętym rozwoju osobistym, psychodietetyce czy po prostu jako forma terapii.</p>

    <h3 class="subsection">Założenia TSR</h3>

    <ul class="ideas">
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            Jeśli coś działa, rób tego więcej.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            Jeśli coś nie działa, rób coś innego.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            Jeśli coś się nie zepsuło, nie naprawiaj.</li>
        <li><span class="iconify" data-icon="clarity:lightbulb-line"></span>
            Nie komplikuj. Życie jest naprawdę proste.</li>
    </ul>

    <p>Czas trwania terapii nie jest ściśle określony. Nie ma tutaj mowy o zakładaniu z góry, jak długo i ile razy
        trzeba się spotkać. W praktyce
        okazuje się, że ilość ta najczęściej nie przekracza 10 spotkań, a często jest jeszcze mniejsza. Przy czym okres
        pomiędzy pierwszym, a ostatnim spotkaniem może wynosić kilka miesięcy.</p>

    <p>Moje doświadczenia życiowe i zawodowe uświadomiły mi, że nigdy nie jest za późno i zawsze jest odpowiedni moment
        na dobre zmiany w zyciu. Niejednokrotnie wystarczy impuls, mały krok do przodu, a sprawy układają się tak,
        jakbyśmy tego chcieli i zaskakująco dobrze dla nas samych.</p>

    <h3 class="subsection">Pierwsze spotkanie</h3>

    <p>Na pierwszej wizycie poznamy się i porozmawiamy o sytuacji, która Cię do mnie sprowadziła. Omówimy kierunek
        współpracy i Twoje oczekiwania dotyczące konsultacji.</p>

    <p>Terapia Skoncentrowana na Rozwiązaniach jest terapią krótkoterminową co oznacza w praktyce, że będzie trwała
        tylko tyle, ile będzie potrzeba do uzyskania oczekiwanego rezultatu. Każdy człowiek jest inny, dlatego dbam o
        dostosowanie formy pracy do Twojego wieku, osobowości, potrzeb i oczekiwań. Podstawą w kontakcie z drugim
        człowiekiem jest dla mnie stworzenie takich warunków współpracy, abyś niezależnie od swojego wieku, czy
        sytuacji, w której się znajdujesz, czuła się przede wszystkim komfortowo i bezpiecznie. Podczas konsultacji
        zapewnię Ci atmosferę zrozumienia, dyskrecji, szacunku, pełnej uwagi i braku oceniania. </p>

    <p>Zapraszam serdecznie.</p>
</section>

<section class="jumbo">
    <img src="/media/meeting-2.jpg" class="cover-img">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>

<section class="container content content-bottom">
</section>
