---
layout: page.njk
title: "Iwona Nikelska :: Coaching indywidualny"
---

<section class="container content">

    <h2>Terapia uzależnień</h2>

    <p>Terapia uzależnień to kompleksowy proces terapeutyczny, który pomaga osobom borykającym się z nałogiem
    w przezwyciężeniu uzależnienia i odzyskaniu kontroli nad swoim życiem. Moja oferta opiera się na indywidualnym
    podejściu do każdego klienta, w ramach którego oferuję wsparcie emocjonalne oraz praktyczne narzędzia i strategie,
    które pomagają w zmianie negatywnych wzorców zachowań. Jestem tutaj, aby pomóc Ci w osiągnięciu trwałej
    abstynencji i budowaniu zdrowszego i bardziej satysfakcjonującego życia.</p>

    <h3 class="subsection">Konsultacje dla uzależnionych</h3>

    <p>To sesja od jednego do trzech pierwszych spotkań, w trakcie których przeprowadzany jest pogłębiony
    wywiad — omówienie historii życia, problemów czy ważnych spraw mających wpływ na zachowania i samopoczucie.
    Z osobą niepełnoletnią na pierwszą konsultację przychodzi opiekun prawny.</p>

    <h3 class="subsection">Konsultacje dla współuzależnionych i osób, które chcą pomóc</h3>

    <p>To cykl spotkań, który ma na celu edukację na temat uzależnienia. Osoba bliska otrzymuje porady, jak żyć z osoba
    uzależnioną oraz fachowe wsparcie, aby nie czuła się sama z tym problemem i miała się do kogo zwrócić w trudnych
    chwilach. Dostanie również wskazówki jak nakłonić osobę uzależnioną do podjęcia leczenia.</p>

    <h3 class="subsection">Terapia indywidualna dla osób uzależnionych</h3>

    <p>To cykl spotkań, który ma na celu wprowadzenie odpowiedniego procesu leczenia tak, aby uzależniony przy wsparciu
    terapeuty osiągnął zamierzony cel. Jest to przede wszystkim wsparcie w podniesieniu własnej skuteczności w dążeniu
    do celu jakim jest uporanie się z uzależnieniem. W trakcie terapii pacjent odkrywa głębsze zrozumienie swojego
    zachowania oraz reakcji innych osób na nie. Terapia wspomaga go w nawiązaniu porozumienia z otoczeniem oraz
    daje narzędzia do zmiany szkodliwych wzorców zachowań. W trakcie spotkań terapeutycznych pacjent krok po kroku
    odnajduje swoją własną ścieżkę, a terapeuta pomaga mu w poprawie umiejętności komunikacyjnych i budowaniu zdrowych
    relacji międzyludzkich. W terapii indywidualnej kluczowe znaczenie ma budowanie zaufania oraz stworzenie
    sprzyjającego środowiska, aby w tym procesie czuć się komfortowo. Atmosfera pełna zrozumienia, empatii,
    dyskrecji i anonimowości jest podstawą w pracy z pacjentem. Podczas sesji terapeutycznych, które odbywają się raz
    lub nawet dwa razy w tygodniu, wspólnie kształtujemy plan działania tak, aby skutecznie radzić sobie z wyzwaniami
    jakie niesie za sobą walka z uzależnieniem.</p>

    <h3 class="subsection">Terapia indywidualna dla osób współuzależnionych</h3>

    <p>Jest przeznaczona dla osób, które żyją w otoczeniu osoby uzależnionej i chcą pomóc sobie oraz nauczyć się
    postępowania wobec takiej osoby.</p>

    <p>Często niestety działania, które miałyby poprawić sytuację w rezultacie ją pogarszają, a osoba współuzależniona
    nie skupia się na sobie tylko na problemie partnera czy członka rodziny. Czasami nie widzi problemu i nie potrafi
    określić jego skali.</p>

    <p>W efekcie wprowadzane zmiany mogą stać się strategiami adaptacyjnymi do toksycznej relacji, wzmacniając niezdrowe
    wzorce zachowań i utrudniając ostateczne rozwiązanie problemu.</p>

    <h3 class="subsection">Prowadzę również konsultacje/terapię on-line</h3>

    <p>Jest to rozwiązanie pomocne dla osób napotykających trudności z dostępem do terapii – takich jak matki samotnie
    wychowujące dzieci, osoby z niepełnosprawnościami, przebywające na długoterminowych pobytach w sanatoriach lub
    szpitalach, pracujące poza granicami kraju lub często podróżujące służbowo. W tej grupie należy również uwzględnić
        te osoby, które z powodu wstydu czy skrępowania unikają zgłaszania się po pomoc osobiście do gabinetu.</p>
</section>

<section class="jumbo">
    <img src="/media/recovery.jpg" class="cover-img" alt="recovery">
    <div class="jumbo-content">
        <a href="/kontakt" class="jumbo-button">UMÓW SIĘ</a>
    </div>
</section>

<section class="container content content-bottom">
</section>